<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <header>
        <div class="divLogoBusqueda">
            <div class="elementosHeader">
                <img class="logoMercadoliebre" src="/images/logo-mercado-liebre.svg" alt="Mercadoliebre" style="width:90%">
            </div>
            <div class="elementosHeader">
                <input class="busqueda" type="text" placeholder="Buscar productos, marcas y mas...">
            </div>
            <div class="elementosHeader">
                <p class="busqueda parrafoHeader"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <ul class="ulHeader">
                <div class="divHeaderC">
                    <div class="divNavA">
                        <li class="listaMenu"><a href="" class="linkHeader">Ofertas</a></li>
                        <li class="listaMenu"><a href="" class="linkHeader">Tiendas oficiales</a></a></li>
                        <li class="listaMenu"><a href="" class="linkHeader">Vender</a></li>
                        <li class="listaMenu"><a href="" class="linkHeader">Ayuda</a></li>
                    </div>
                    <div class="divNavA">
                        <li class="listaMenu"><a href="/register" class="linkHeader">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li class="listaMenu"><a href="/login" class="linkHeader">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li class="listaMenu"><a href="" class="linkHeader">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </div>
                </div>
               </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <img class="bannerHeader" src="/images/img-home-banner.jpg" alt="">
    </header>

    
    

    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <div class="divArticulos">
                <article class="articleMain">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$6.770</p>
                            <p class="descuentos cajaVarios">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                 </article>
                <article class="articleMain">
                    <img src="/images/img-macbook-pro-2019.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$230.000</p>
                            <p class="descuentos cajaVarios">20% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                    </article>
                <article class="articleMain">
                    <img src="/images/img-samsung-galaxy-s10.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$70.500</p>
                            <p class="descuentos cajaVarios">10% OFF</p>
                        </div>
                        <p class="descripcion">Samsung GalaxyS10</p>
                    </div>
                    
                </article>
                <article class="articleMain">
                    <img src="/images/img-tv-samsung-smart.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$23.200</p>
                            <p class="descuentos cajaVarios">5% OFF</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>

            </div> 
        </section>

        <section>
            <h2 class="titulares">Ofertas</h2>
            <div class="divArticulos">
                <article class="articleMain">
                    <img src="/images/img-cafetera-moulinex.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$6.770</p>
                            <p class="descuentos cajaVarios">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articleMain">
                    <img src="/images/img-macbook-pro-2019.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$230.000</p>
                            <p class="descuentos cajaVarios">20% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                    
                </article>
                <article class="articleMain">
                    <img src="/images/img-samsung-galaxy-s10.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$70.500</p>
                            <p class="descuentos cajaVarios">10% OFF</p>
                        </div>
                        <p class="descripcion">Samsung GalaxyS10</p>
                    </div>
                    
                </article>
                <article class="articleMain">
                    <img src="/images/img-tv-samsung-smart.jpg"  alt="">
                    <div class="divCostoEnvio">
                        <i class="fas fa-truck"></i>
                        <div class="divPreciodescuento">
                            <p class="precios cajaVarios">$23.200</p>
                            <p class="descuentos cajaVarios">5% OFF</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                    
                </article>
            </div>
            
        </section>
       
    </main>

    <footer>
        <section class="sectionFooter">
            <article class="articleFooter">
                <i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </article>
            <article class="articleFooter">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </article>
            <article class="articleFooter">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@
         </section>
        
       <br>
       <br>
       <br>
        Copyright © 1999-2020 MercadoLiebre S.R.L.

        </article>
    </footer>
    
    


</body>
</html>